html, * {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #FFF;
    font-family: 'Arial', sans-serif;
}

#content {
    width: 800px;
    padding-top: 50px;
    margin: 0px auto;
}

/* GENERAL STYLING */

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center {
    text-align: center;
}

.orange-text {
    color: #fca311;
}

.orange-btn {
    background-color: #fca311;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-family: inherit;
    cursor: pointer;
    padding: 10px 15px;
}

.orange-btn:focus {
    outline: none;
    background-color: #d4890f;
}

.blue-btn {
    background-color: #1a3da6;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-family: inherit;
    cursor: pointer;
    padding: 10px 15px;
}

.blue-btn:focus {
    outline: none;
    background-color: #153184;
}

.txt-input {
    border-radius: 3px;
    color: #000;
    padding: 3px 5px;
}

.job_div {
    padding-top: 20px;
}

.uploadForm {
    padding-bottom: 20px;
    line-height: 25px;
}

.jobForm {
    padding: 20px 0px;
    display: block;
    text-align: center;
}

.table_div {
    background-color: #FFF;
    margin: 20px auto;
    width: auto;
}

.table_div table {
    border: #000;
    margin: auto;
}

.table_div th {
    padding: 12px 10px;
    text-align: left;
    background-color: #153184;
    color: white;
}

.table_div td {
    color: #000;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    background-color: #4b78ff;
}