<html lang="en">

<head>
  {% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/master.css') }}">
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head>

<body>
  <div id="content" class="center">{% block content %}{% endblock %}</div>
</body>
</html>
