{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="upload_div">
  <p class="center">Upload to API</p><br>
  <form class="uploadForm" action="{{ url_for('upload') }}" method="post">
    <label for="model">Model:</label><br>
    <input class="txt-input" type="text" name="model" placeholder="en-us.bcn"><br><br>
    <label for="input_dir">Input Directory:</label><br>
    <input class="txt-input" type="text" name="input_dir"><br><br>
    <label for="output_dir">Output Directory:</label><br>
    <input class="txt-input" type="text" name="output_dir"><br><br>
    <div class="center">
      <input class="blue-btn" type="submit" name="uploadBtn" value="Upload" />
    </div>
  </form>
  </div>
  <hr>
  <div class="job_div center">
    <p>Check Status of Current Process</p>
    <form class="jobForm" action="{{ url_for('check_pid') }}" method="post">
      <label for="pid">Process ID:</label><br>
      <input class="txt-input" type="text" name="pid"><br><br>
      <div class="center">
        <input class="orange-btn" type="submit" value="Check" />
      </div>
    </form>
  </div>
{% endblock %}
