{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="info">
  <p>Process ID: {{ info[0] }}</p>
  <p>Model: {{ info[1] }}</p>
  <p>Input Directory: {{ info[2] }}</p>
  <p>Output Directory: {{ info[3] }}</p>
</div>
{% if files %}
<div class="table_div">
  <table>
  <thead>
  <tr>
  <th>Filename</th>
  <th>request_id</th>
  <th>Upload Status</th>
  <th>Download Status</th>
  </tr>
  </thead>
    <tbody>
      {% for file in files %}
        <tr>
          <td>{{ file.filename }}</td>
          <td>{{ file.job_id }}</td>
          <td>{{ file.upload_status }}</td>
          <td>{{ file.download_status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
